p{
    font-size: 3em;
    font-family: "Arial Black";
    color:red;
    text-shadow: 3px 3px 2px black;
    position: absolute;
    right:15%;
    top:40%;
}
h1{
    font-size: 5em;
    font-family: "Arial Black";
    color:red;
    text-shadow: 3px 3px 2px black;
    position: absolute;
    left:42%;
    top:33%;
}
h1:hover{
    color:orangered;
    text-shadow: none;
}